@using Controle.Models

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Acessar</h2>

@using (Html.BeginForm("ChecarLogin", "Login", FormMethod.Post))
{
    <div class="mb-3 row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userId" class="form-label">Usuário</label>
            <input type="email" class="form-control" name="Email" id="Email" placeholder="nome@exemplo.com">
        </div>
    </div>
    <br />
    <div class="mb-3 row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userPassword" class="form-label">Senha</label>
            <input type="password" class="form-control" name="PassWord" id="PassWord" placeholder="*******">
        </div>
    </div>
    <br />
    <p class="text-danger text-center">
        @ViewBag.Erro;
    </p>
    <br />
    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-lg btn-primary col-sm-4 col-sm-offset-4" type="submit">Entrar</button>
        </div>
    </div>


    <br />
}