@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Resolvidos / Encaminhados";
}
<h1>Gráfico: @ViewBag.Title</h1>
<hr />
<div class="row">
    <div>
        <div class="col-md-12 col-md-12">
            @(Model)
        </div>
    </div>
</div> 