@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    João Victor Sambrano<br />
    Cambé, PR - 86183-502<br />
    <abbr title="Phone">P:</abbr>
    (43)98444-8595
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:joao.sambrano@atos.net">Joao Sambrano</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/joao-sambrano/">Joao Sambrano</a>
</address>