@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">
    <h1>Bem Vindo</h1>
    <br />
    <p class="lead">Registre seus atendimentos para controle</p>
    <br />
    <h5>Foi desenvolvido para finalidade de registro e controle de atendimento dos analistas</h5>
    <p><a href="/Home/Tickets" class="btn btn-primary btn-lg" style="background-color:black">Lista &raquo;</a></p>


</div>
